<launch>	

	<!-- Load a Map  -->
	<arg name="map_file" default="$(find map_follower)/resource/map/hallmap.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

	<!-- Visualisation RVIZ -->
	<node pkg="rviz" type="rviz" name="rviz" />

	<!-- python script: fetch way points and display on map -->
	<node pkg="map_follower" type="waypoint.py" output="screen" name="waypoint" />
	
</launch>
