<launch>	
	
	<!-- Load a Map  -->
	<arg name="map_file" default="$(find map_follower)/resource/map/KNOY_speedway2.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

	<!-- Visualisation RVIZ -->
	<node pkg="rviz" type="rviz" name="rviz" />
	
	<!-- Hokuyo Driver FOR ust-10lx, -135 TO 135 deg, 10M range -->
	<node pkg="urg_node" type = "urg_node" name="run_hokuyo_101x">
		<param name="ip_address" value="128.46.112.10"/>
	</node>

	<!-- static transform -->
	<node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 /base /laser 100" />

	<!-- use hector_mapping for providing odometry to amcl  -->
	<arg name="map_size" default="2048"/>
	<arg name="map_resolution" default="0.05"/>

	<node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
		<remap from="map" to="/mapcurrent" />
		<param name="map_frame" value="mapcurrent"/> 
		<param name="base_frame" value="base"/> 
		<param name="odom_frame" value="hector_odom"/>

		<param name="use_tf_scan_transformation" value="true"/>
		<param name="use_tf_pose_start_estimate" value="false"/>
		<param name="pub_map_odom_transform" value="false"/> 
		<param name="pub_odometry" value="true" />

		<param name="map_resolution" value="$(arg map_resolution)"/>
		<param name="map_size" value="$(arg map_size)"/>
		<param name="scan_topic" value="scan"/>
		<param name="tf_map_scanmatch_transform_frame_name" value="hector_odom" />
	</node>

	<!-- establish transform between odometry and base -->
	<node pkg="map_follower" type="odom.py" name="odomtransformer" output="screen">
		<param name="odom_input" value="/scanmatch_odom" />
		<param name="tf_output" value="/base" />
	</node>


	<!-- localization using amcl -->
	<node pkg="amcl" type="amcl" name="amcl">
		<param name="base_frame_id" value="/base" />
		<param name="global_frame_id" value="/map" />
		<param name="odom_frame_id" value="/scanmatch_odom" />
		<!--<param name="kld_error" value="0.03" /> -->
	    <param name="odom_model_type" value="omni" />
	</node>

</launch>
